/* Styling for newPlayerForm() && seeIndividualDetails() */
.newPlayerForm {
    font-size: 35px;
    margin-bottom: 15px;
}
label#newPlayerName, label#newPlayerBreed {
    font-size: 20px;
    font-weight: bold;
}
input#newPlayerName {
    margin-right: 25px;
}
label#newPlayerBreed {
    margin-left: 25px;
}
.addNewPlayerButton {
    margin-left: 25px;
    background-color: #54575c91;
    padding: 10px, 0px;
    font-size: normal;
    font-weight:bold
}